/* Sections */
#Section1{
    top: 0vh;
    height: 75vh;
    width: 100vw;
    position: static;
    overflow: hidden;
    background-color: #f3f3f3;
}

/* Navigation Bar */
#navbar{
    position: fixed;
    top: 2%;
    left: 6%;
    z-index: 12;
}
#navback{
    position: fixed;
    height: 8.5vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    background-color: #FFFFFF;
    z-index: 11;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.topbar {
    display: inline;
    float:left;
}
.navbut{
    display: block;
    color: #E8913A;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25vh;
}
.underline-animated {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.underline-animated:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.underline-animated:hover:after {
	width: 100%;
	background: #FAA098;
}
#logoBox:hover #logo{
    transform: scale(1.25,1.25);
}
#logo{
    padding: 0;
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    transition: all .5s ease;}
    
#logoBox{
    position: fixed;
    top: 2%;
    left: 1%;
    height: 5vh;
    width: 5vw;
    z-index: 13;
}
#logo{
    padding: 0;
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Section 1 Title Page */
#wavebox{
    height: 100vh;
    width: 100vw;
    position: absolute;

}
#aboutBG{
    width: 160%;
    height: 200%;
    bottom: -90%;
    left: -25%;
    position: absolute;
    z-index: 2;
}
#mainWrapper{
    top: 0vh;
    height: 75%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#downarrowdiv {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
#downarrowdiv:hover{
    animation: jumpInfinite 2s infinite;
}
#downArrow{
    width: auto;
    height: 6%;
}
#headerUnderline{
    top: 29.75vh;
    position: absolute;
    left: 10%;
    height: 1%;
    width: 41%;
    background-color: #FAA098;
    border-radius: 1vh;
}
#header_div{
    bottom: 43.5%;
    left: 10%;
    height: 20vh;
    width: 55vw;
    position: absolute;
    z-index: 1;
}
#header {
    position: absolute;
    line-height: 85%;
    color: #E8913A;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: 4vw;
    /* animation: slideRight ease-in-out 1s; */
    animation-delay: 1s;
}
#sub {
    position: absolute;
    top: 45%;
    color: #ebb178;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    font-weight: 0;
    line-height: 120%;
}

  
@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
}

/* Section 2 */
/* .col1{
} */
.col2{
    left: 50%;
}
.col{
    position: absolute;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: all 1s ease;
}
.row{
    position: relative;
    top: 0vh;
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f7f7f7;
}
.iconLink{
    display: inline-block;
    height: 95%;
    width: 95%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 1s ease;
}
.projectIcon{
    background-color: #FFFFFF;
    position: absolute;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    overflow: hidden;
    transition: all 1s ease;
}
.projectIcon:hover .iconCover{
    opacity: .50;
    transition: all 1s ease;
}

.projectIcon:hover .iconCover{
    opacity: 0.50;
    transition: all 1s ease;
}
.projectIcon:hover .iconText{
    opacity: 1;
    transition: all 1s ease;
}
.projectIcon:hover .iconText{
    opacity: 1;
    transition: all 1s ease;
}
.projectIcon:hover .colorImg{
    opacity: 0;
    transition: all 1s ease;

}
.projectIcon:hover .BWImg{
    opacity: 1;
    transition: all 1s ease;
}
.colorImg{
    position: absolute;
    opacity: 1;    
    transition: all 1s ease;
}
.BWImg{
    position: absolute;
    opacity: 0;    
    transition: all 1s ease;
}

.iconCover{
    background-color: #E8913A;
    opacity: 0;
    height: 100%;
    width: 100%;
    padding-top: 2.5%;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 10;
}
.iconText{
    color: #ffffff;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    font-weight: 0;
    z-index: 11;
    font-weight: 600;
    opacity: 0;
    text-align: center;

}
.iconPic{
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.boatImg{
    width: 85%;
}
.RKDImg{
    width: 90%;
}
.RCSImg{
    width: 90%;
}
.SKTBRDImg{
    width: 95%;
}
.HMTSImg{
    width: 90%;
}
.DroneImg{
    width: 90%;
}
.LDRMountImg{
    width: 85%;
}


