/* header */
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* :root {
    --footerLinkHeight: 3vh;
} */
#page::-webkit-scrollbar {
    display: none;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: 0;
}
pre{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #FFFFFF;
    margin: 0em;
}
div{
    display:flex
}

/* footer */
#pageBottom{
    position: relative;
    top: 0vh;
    height: 35vh;
    width: 100vw;
    left: 0%;
    overflow: hidden;
}
#botBackground{
    position: absolute;
    height: 100%;
    width: 100%;
}
#footerLogo{
    height: 45%;
    position: absolute;
    top: 20%;
    right: 68.75vw;
}
.footerColumn{
    position: absolute;
    top: 20%;
    height: 60%;
    width: 5vw; 
}
#connectColumn{
    left: 63.75vw; 
}
#resourcesColumn{
    left: 51.25vw; 
}
#directoryColumn{
    left: 38.75vw; 
}
.columnHeader{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 85%;
    font-size: 1.65vw;
    color: #FFFFFF;
    font-weight: bolder;
}
.headerDiv{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 3vh; 
}

.link{
    display:inline-block;
    height: 3vh;
    width: 30vw;
    position: absolute;
    left: 0%;
}
.firstLink{
    top: 4vh;
}
.secondLink{
    top: 8.25vh;
}
.thirdLink{
    top: 12.25vh;
}
.fourthLink{
    top: 16.25vh;
}

.linkDiv{
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
}
.linkIcon{
    width: 5%;
    position: absolute;
    left: 0%;
    opacity: 0;
    transition: all .5s ease;
}
.linkText{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 85%;
    font-size: 11pt;
    color: #FFFFFF;
    position: absolute;
    left: 0%;
    font-weight: lighter;
    transition: all .25s ease;
    transition-delay: .25;

}

.linkDiv:hover .linkIcon {
    opacity: 1;
}
.linkDiv:hover .linkText{
    left: 7%;

}






