:root {
    --mainContentHeight: 75vh;
}

/* Sections */
#Section1{
    top: 0vh;
    height: 100vh;
    width: 100vw;
    position: static;
    overflow: hidden;
    background-color: #f3f3f3;

}
#Section2{
    top: 0vh;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 4;
}
#Section3{
    top: 0vh;
    height: 100vh;
    width: 100vw;
    background-color: #f3f3f3;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 4;    
}
#Section4{
    top: 0vh;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 4;    
}

/* Section 1*/
#mainGraphicDiv{
    position: absolute;
    top: calc(8.5vh + (91.5vh - var(--mainContentHeight) ) / 2) ;
    left: 5vw;
    height: var(--mainContentHeight);
    width: 50vw;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    overflow: hidden;
}
#mainGraphic{
    width: 100%;
    height: auto;

}
.textFormat{
    font-family: Arial, Helvetica, sans-serif;
    color: #c074b3;
}
#titleDiv{
    position: absolute;
    left: 55vw;
    top: calc(8.5vh + (91.5vh - var(--mainContentHeight) ) / 2) ;
    height: var(--mainContentHeight);
    width: 35vw;
    padding-left: 3vw;
}
#title{
    position: absolute;
    line-height: 100%;
    font-weight: 750;
    font-size: 3.75vw;
    top: 19vh;
}
#topHeaderUnderline{
    top: 26vh;
    position: absolute;
    left: 8%;
    height: 1.5%;
    width: 33.5vw;
    background-color: #FAA098;
    border-radius: 1vh;
}
#botHeaderUnderline{
    top: 33vh;
    position: absolute;
    left: 8%;
    height: 1.5%;
    width: 13.5vw;
    background-color: #FAA098;
    border-radius: 1vh;
}
#subtitle{
    position: absolute;
    line-height: 110%;
    font-weight: 750;
    font-size: 2vw;
    top: 37vh;

}
#date{
    position: absolute;
    line-height: 85%;
    font-weight: 750;
    font-size: 1vw;
    top: 52.5vh;
}
/* Section 2 */
#secondGraphicDiv{
    position: absolute;
    top: calc((100vh - (var(--mainContentHeight)))  / 2) ;
    left: 45vw;
    height: 80vh;
    width: 35vw;
    justify-content: center;
    align-content: center;
    border-radius: 3vh;
    overflow: hidden;
}
#secondGraphic{
    object-fit: cover;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}
#secondTextDiv{
    position: absolute;
    top: calc((100vh - (var(--mainContentHeight)))  / 2) ;
    left: 5vw;
    width: 35vw;
    padding-right: 3vw;
}
.headlineText{
    font-family: Arial, Helvetica, sans-serif;
    color: #c074b3;
    position: absolute;
    line-height: 85%;
    font-weight: 750;
    font-size: 3.65vw;
}
.bodyText{
    font-family: Arial, Helvetica, sans-serif;
    color: #c074b3;
    position: absolute;
    line-height: 100%;
    font-weight: 250;
    font-size: 2vw;
    top: 9vh
}
#button{
    position: absolute;
    height: 1vh;
    width: auto;
    left: 11vw;
    border-style: solid;
    border-radius: 20vh;
    top: 70vh;
    border-color: #cf86c3;
    border-width: 0.5vh;
    background-color: #cf86c3;
    padding: 4vh;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.btnTxt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: 1.5vw;  
    color: #FFFFFF;
}
.btnLink:hover .btnTxt{
    color: #c074b3;
}
.btnLink:hover #button{
    background-color: transparent;
    border-color: #c074b3;
}

/* Section 3 */
#thirdGraphicDiv{
    position: absolute;
    top: calc((100vh - (var(--mainContentHeight)))  / 2) ;
    left: 5vw;
    height: 80vh;
    width: 50vw;
    justify-content: center;
    align-content: center;
    border-radius: 3vh;
    overflow: hidden;
}
#thirdGraphic{
    object-fit: cover;
    height: auto;
    width: 100%;
}
#thirdTextDiv{
    position: absolute;
    top: calc((100vh - (var(--mainContentHeight)))  / 2) ;
    left: 55vw;
    width: 35vw;
    padding-left: 3vw;
}
#thirdSecondGraphicDiv{
    position: absolute;
    top: 5vh;
    left: 3vw;
    height: 42vh;
    width: 20vw;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    overflow: hidden;
}
#thirdSecondGraphic{
    object-fit: cover;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}
/* Section 4 */
#fourthGraphicDiv{
    position: absolute;
    top: calc((100vh - (var(--mainContentHeight)))  / 2) ;
    left: 60vw;
    height: 80vh;
    width: 22vw;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    overflow: hidden;
}
#fourthGraphic{
    object-fit: cover;
    height: 100%;
    width: auto;
}
#fourthTextDiv{
    position: absolute;
    top: calc((100vh - (var(--mainContentHeight)))  / 2) ;
    left: 5vw;
    width: 50vw;
    padding-right: 3vw;
}